@use "../mixin/MediaQuery" as mq;

.text {
    //background-color: aqua;
    pointer-events: none;
    font-size: 146%;
    letter-spacing: 0.3px;
    z-index: 999;
    position: relative;

    @include mq.Width("l") {
        font-size: 163%;
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 0%;
    position: relative;
    margin-left: 2.3vw;
    padding-top: 4.5vh;

    @include mq.Width("l") {
        margin-bottom: unset;
        gap: 10%;
        display: flex;
        flex-direction: row;
    }
}